{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
<title>About Us</title>
{% endblock %}
{% block body %}
<!-- Contant Start -->
<div class="content">
    <section class="breadcrumb-wrap">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fal fa-home-lg"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                </ol>
            </nav>
        </div>
    </section>
    <section class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>About Us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing <br>
                    and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s</p>
            </div>
        </div>
    </section>
    <section class="our-mission-wrap">
        <div class="container">
            <div class="our-mission-row">
                <div class="our-mission-col">
                    <div class="our-mission-content">
                        <h4>WHO WE ARE?</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s</p>
                    </div>
                </div>
                <div class="our-mission-col">
                    <div class="our-mission-content">
                        <h4>What we do?</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s</p>
                    </div>
                </div>
                <div class="our-mission-col">
                    <div class="our-mission-content">
                        <h4>OUR MISSION</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                            the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-team-wrap">
        <div class="container">
            <div class="our-team-content">
                <h3>Our Team</h3>
                <div class="our-team-slider">
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                    <div class="our-team-slide">
                        <div class="flip-card">
                            <div class="flip-card-front">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                            </div>
                            <div class="flip-card-back">
                                <img src="{% static 'images/team-member.png' %}" alt="">
                                <h4>Name</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing </p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="general-btn"><i class="far fa-arrow-left"></i> Continue Shopping</a>
            </div>
        </div>
    </section>
</div>
<!-- Contant End -->
{% endblock %}