{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
<title>All blogs</title>
{% endblock %}
{% block body %}
        <!-- Contant Start -->
        <div class="content">
            <section class="breadcrumb-wrap">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#"><i class="fal fa-home-lg"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                        </ol>
                    </nav>
                </div>
            </section>
            <section class="banner">
                <div class="container">
                    <div class="banner-content">
                        <h1>Soulful Blog</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing <br> 
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </section> 
            <section class="latest-blog-wrap blog-category-wrap">
                <div class="container">
                    <ul class="blog-category">
                        <li class="active"><a href="#">Sports</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Music</a></li>
                    </ul>
                    <div class="latest-blog-heading">
                        <h3>Latest Blog</h3>
                        <a href="javascript:void(0)" class="arrow-link">View All <i class="far fa-arrow-right"></i></a>
                    </div>
                    <div class="blog-content-slider">
                        <div class="blog-col">
                            <div class="blog-content-wrap">
                                <div class="blog-person-info">
                                    <img src="{% static 'images/vIqzOHXj.png' %}" alt="">
                                    <p>Name</p>
                                </div>
                                <div class="blog-content">
                                    <img src="{% static 'images/pexels-bruno-salvadori-1755428.png' %}" alt="">
                                    <h5>Blog title</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
                                </div>
                                <div class="blog-link-wrap">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-share-alt"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-bookmark"></i></a></li>
                                    </ul>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">READ MORE <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="blog-content-wrap">
                                <div class="blog-person-info">
                                    <img src="{% static 'images/vIqzOHXj.png' %}" alt="">
                                    <p>Name</p>
                                </div>
                                <div class="blog-content">
                                    <img src="{% static 'images/pexels-pixabay-247287.png' %}" alt="">
                                    <h5>Blog title</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
                                </div>
                                <div class="blog-link-wrap">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-share-alt"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-bookmark"></i></a></li>
                                    </ul>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">READ MORE <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="blog-content-wrap">
                                <div class="blog-person-info">
                                    <img src="{% static 'images/vIqzOHXj.png' %}" alt="">
                                    <p>Name</p>
                                </div>
                                <div class="blog-content">
                                    <img src="{% static 'images/pexels-moose-photos-1037914.png' %}" alt="">
                                    <h5>Blog title</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
                                </div>
                                <div class="blog-link-wrap">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-share-alt"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-bookmark"></i></a></li>
                                    </ul>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">READ MORE <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="blog-content-wrap">
                                <div class="blog-person-info">
                                    <img src="{% static 'images/vIqzOHXj.png' %}" alt="">
                                    <p>Name</p>
                                </div>
                                <div class="blog-content">
                                    <img src="{% static 'images/pexels-bruno-salvadori-1755428.png' %}" alt="">
                                    <h5>Blog title</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
                                </div>
                                <div class="blog-link-wrap">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-share-alt"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-bookmark"></i></a></li>
                                    </ul>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">READ MORE <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="blog-content-wrap">
                                <div class="blog-person-info">
                                    <img src="{% static 'images/vIqzOHXj.png' %}" alt="">
                                    <p>Name</p>
                                </div>
                                <div class="blog-content">
                                    <img src="{% static 'images/pexels-pixabay-247287.png' %}" alt="">
                                    <h5>Blog title</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
                                </div>
                                <div class="blog-link-wrap">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-share-alt"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-bookmark"></i></a></li>
                                    </ul>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">READ MORE <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-col">
                            <div class="blog-content-wrap">
                                <div class="blog-person-info">
                                    <img src="{% static 'images/vIqzOHXj.png' %}" alt="">
                                    <p>Name</p>
                                </div>
                                <div class="blog-content">
                                    <img src="{% static 'images/pexels-moose-photos-1037914.png' %}" alt="">
                                    <h5>Blog title</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</p>
                                </div>
                                <div class="blog-link-wrap">
                                    <ul>
                                        <li><a href="javascript:void(0)"><i class="fal fa-heart"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-share-alt"></i></a></li>
                                        <li><a href="javascript:void(0)"><i class="fal fa-bookmark"></i></a></li>
                                    </ul>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">READ MORE <i class="far fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Contant End -->
{% endblock %}