{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
<title>Contact</title>
{% endblock %}

{% block shipment %}
        <!-- Header Start -->
        <div class="free-shipment-wrap">
            <div class="container">
                <div class="free-shipment-content">
                    <p>Free shipment from $200</p>
                    <p>FREE 30 DAY RETURNS ON YOUR ORDERS</p>
                </div>
            </div>
        </div>
        <!-- Header Start -->
{% endblock %}
{% block body %}
        <!-- Contant Start -->
        <div class="content">
            <section class="breadcrumb-wrap">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#"><i class="fal fa-home-lg"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page">Crystal Directory</li>
                        </ol>
                    </nav>
                </div>
            </section>
            <section class="crystal-filter-wrap">
                <div class="container">
                    <form action="">
                        <div class="form-row">
                            <div class="form-group col-6 col-md-3">
                                <label>Healing</label>
                                <label class="select-wrap">
                                    <select name="" id="">
                                        <option value="">Type Or Choose</option>
                                        <option value="">Healing1</option>
                                        <option value="">Healing2</option>
                                        <option value="">Healing3</option>
                                        <option value="">Healing4</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group col-6 col-md-3">
                                <label>Purpose</label>
                                <label class="select-wrap">
                                    <select name="" id="">
                                        <option value="">Type Or Choose</option>
                                        <option value="">Purpose1</option>
                                        <option value="">Purpose2</option>
                                        <option value="">Purpose3</option>
                                        <option value="">Purpose4</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group col-6 col-md-3">
                                <label>Color</label>
                                <label class="select-wrap">
                                    <select name="" id="">
                                        <option value="">Type Or Choose</option>
                                        <option value="">Color1</option>
                                        <option value="">Color2</option>
                                        <option value="">Color3</option>
                                        <option value="">Color4</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group col-6 col-md-3">
                                <label>Name</label>
                                <label class="select-wrap">
                                    <select name="" id="">
                                        <option value="">Type Or Choose</option>
                                        <option value="">Name1</option>
                                        <option value="">Name2</option>
                                        <option value="">Name3</option>
                                        <option value="">Name4</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group form-btn col-md-12">
                                <button type="button" class="general-btn">Apply</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section class="results-wrap">
                <div class="container">
                    <h3>Results</h3>
                    <div class="best-product-slider recommended-slider">
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-5.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul class="new-price">
                                        <li class="new-p">$89.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-6.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul>
                                        <li>$119.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-7.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul>
                                        <li>$79.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-5.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul>
                                        <li>$119.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-6.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul class="new-price">
                                        <li class="new-p">$89.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-7.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul>
                                        <li>$119.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-5.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul>
                                        <li>$79.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                        <div class="best-product-slide">
                            <div class="best-seller-img">
                                <img src="images/product-6.png" alt="">
                            </div>
                            <div class="price-cart-wrap">
                                <div class="product-price">
                                    <p>Jewelry</p>
                                    <ul>
                                        <li>$119.99</li>
                                    </ul>
                                </div>
                                <a href="#" class="general-btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="results-table-wrap">
                <div class="container">
                    <div class="results-table">
                        <table class="table">
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Purpose</th>
                                <th>Healing</th>
                                <th>Related Products</th>
                            </tr>
                            <tr>
                                <td class="p-img">
                                    <img src="images/product-3.png" alt="">
                                </td>
                                <td class="p-name">
                                    <h6>T-Shirt Summer Vibes</h6>
                                    <p>#261311</p>
                                </td>
                                <td>White</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">View Products <i class="far fa-arrow-right"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-img">
                                    <img src="images/product-4.png" alt="">
                                </td>
                                <td class="p-name">
                                    <h6>Basic Slim Fit T-Shirt</h6>
                                    <p>#212315</p>
                                </td>
                                <td>Black</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">View Products <i class="far fa-arrow-right"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-img">
                                    <img src="images/product-3.png" alt="">
                                </td>
                                <td class="p-name">
                                    <h6>T-Shirt Summer Vibes</h6>
                                    <p>#261311</p>
                                </td>
                                <td>White</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">View Products <i class="far fa-arrow-right"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-img">
                                    <img src="images/product-4.png" alt="">
                                </td>
                                <td class="p-name">
                                    <h6>Basic Slim Fit T-Shirt</h6>
                                    <p>#212315</p>
                                </td>
                                <td>Black</td>
                                <td>Lorem ipsum</td>
                                <td>Lorem ipsum</td>
                                <td>
                                    <a href="javascript:void(0)" class="arrow-link purple-clr">View Products <i class="far fa-arrow-right"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <nav class="custom-navigation">
                        <span>Page</span>
                        <ul class="pagination">
                          <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
                          <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                          <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                          <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
{% endblock %}