<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->

    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/pgwslider.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <title>soulful</title>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="free-shipment-wrap">
            <div class="container">
                <div class="free-shipment-content">
                    <p>Free shipment from $200</p>
                    <p>FREE 30 DAY RETURNS ON YOUR ORDERS</p>
                </div>
            </div>
        </div>
        <header class="header-white">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/soulful_logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <div class="click-menu-btn">
                                <span class="bar1"></span>
                                <span class="bar2"></span>
                                <span class="bar3"></span>
                            </div>
                        </span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Jewelry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Candels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Apparel</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="search-wrap">
                        <li>
                            <input type="text" class="form-control search" placeholder="search">
                        </li>
                        <li>
                            <div class="cart-list-wrap">
                                <a href="#"><i class="fal fa-shopping-cart"></i></a>
                                <div class="cart-list-content-wrap">
                                    <div class="cart-list-content">
                                        <ul class="cart-items-list">
                                            <li>
                                                <a href="#">
                                                    <img src="images/item1.png" alt="">
                                                <div class="cart-item-detail">
                                                    <h6>T-Shirt </h6>
                                                    <p>1 x $250</p>
                                                </div>
                                                <button type="button" class="close-btn"><img src="images/close-black-icon.svg" alt=""></button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="images/item1.png" alt="">
                                                <div class="cart-item-detail">
                                                    <h6>T-Shirt </h6>
                                                    <p>1 x $250</p>
                                                </div>
                                                <button type="button" class="close-btn"><img src="images/close-black-icon.svg" alt=""></button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="images/item1.png" alt="">
                                                <div class="cart-item-detail">
                                                    <h6>T-Shirt </h6>
                                                    <p>1 x $250</p>
                                                </div>
                                                <button type="button" class="close-btn"><img src="images/close-black-icon.svg" alt=""></button>
                                                </a>
                                            </li>
                                        </ul>
                                        <button type="button" class="general-btn">checkbox</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="profile-wrap">
                                <a href="#"><i class="fal fa-user"></i></a>
                                <div class="profile-content-wrap">
                                    <ul class="profile-content">
                                        <li><a href="#">Welcome, Soulmate</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Log Out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header Start -->

        <!-- Contant Start -->
        <div class="content">
            <section class="breadcrumb-wrap">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#"><i class="fal fa-home-lg"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                        </ol>
                    </nav>
                </div>
            </section>
            <section class="signup-wrap">
                <div class="container">
                    <a href="javascript:void(0)" class="arrow-link back-link"><i class="far fa-arrow-left"></i> Back to shop</a>
                    <div class="signup-content">
                        <h5>Create an account and discover the benefits</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing <br>
                            and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password Confirmation">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">I agree to the Google Terms of Service and Privacy Policy</label>
                            </div>
                            <button type="button" class="general-btn">Sign up</button>
                        </form>
                        <p class="already-member">Are you already a member? <a href="#">Login</a></p>
                    </div>
                </div>
            </section>    
        </div>
        <!-- Contant End -->
        <footer>
            <div class="footer-main-wrap">
                <div class="container">
                    <div class="row footer-main-row">
                        <div class="footer-logo-wrap">
                            <a href="#" class="footer-logo">
                                <img src="images/soulful_logo.png" alt="">
                            </a>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque a</p>
                            <ul class="social-link-wrap">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer-link-wrap">
                            <ul class="footer-link">
                                <li>
                                    <h6>Shopping online</h6>
                                    <ul>
                                        <li><a href="#">Order Status</a></li>
                                        <li><a href="#">Shipping and Delivery</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Payment Options</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h6>Information</h6>
                                    <ul>
                                        <li><a href="#">Gift Cards</a></li>
                                        <li><a href="#">Find a store</a></li>
                                        <li><a href="#">Newsletter</a></li>
                                        <li><a href="#">Bacome a member</a></li>
                                        <li><a href="#">Site feedback</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h6>Contact</h6>
                                    <ul>
                                        <li><a href="#">abc@mail.com</a></li>
                                        <li>Hotline: <a href="#">+0 000 000 000</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="copyright-content">
                        <p>copyright © 2021. <span>ALL RIGHTS RESERVED.</span></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/pgwslider.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>