<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department List</title>
</head>
<body>
    {% for dept in object_list %}
        <a href="{% url 'department-detail' dept.slug %}"><h1>{{ dept.name }}</h1></a>
        <a href="{% url 'department-detail' dept.slug %}"><img src="{{ dept.image.url }}" alt=""></a>
    {% empty %}
        <h5>No departments...</h5>
        <img src="" alt="generic_department_image">
    {% endfor %}
</body>
</html>